<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>상품 정보수정</title>
	<script>
	
		function remove(){
			
			let chooese=confirm("정말로 상품을 삭제 하시겠습니까???");
			
			if (chooese == true){
				document.form.submit();
			}else{
				return
			}
		}
		
	</script>
</head>
<body> 
	<h3><span th:text="${productInfo.product_name}"></span>의 상품정보</h3>
	<form action="/pd/uptpd" method="post">
		<table border="1">
			<tr>
				<td>이미지</td><td ><img th:src="@{/image/}+${productInfo.img_path}"></td>
			</tr>
			<tr>
				<td>상품코드</td><td ><input type="text" name="product_code"  th:value="${productInfo.product_code}" readonly></td>
			</tr>
			<tr>	
				<td>상품명</td><td><input type="text" name="product_name" th:value=${productInfo.product_name}></td>
			</tr>
			<tr>	
				<td>상품가격</td><td ><input type="text" name="product_price"  th:value=${productInfo.product_price}></td>
			</tr>
			<tr>	
				<td>상품카테고리</td><td th:text=${productInfo.categoryVO.category_name}></td>
			</tr>
			<tr>	
				<td>상품수량</td><td ><input type="text" name="product_amount" th:value=${productInfo.product_amount}></td>
			</tr>
			<tr>														
				<td>상품등록일</td><td th:text="${#dates.format(productInfo.product_reg_date, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>	
				<td>배송비</td><td ><input type="text" name="product_shipping_fee" th:value=${productInfo.product_shipping_fee}></td>
			</tr>
			<tr>	
				<td>상품등록자</td><td th:text=${productInfo.admin_id}></td>
			</tr>
		</table>
		<input type="hidden" name="category_id" th:value=${productInfo.category_id}>
		<input type="submit" value="수정" />
	</form>

	<form action="/pd/delpd" method="post">
		<input type="hidden" name="product_code" th:value="${productInfo.product_code}"/>
		<input type="submit" onClick="remove()" value="상품삭제" />
	</form>
</body>
</html>