<!DOCTYPE html> 
<html mlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout"> 

 <body>
<div layout:fragment="content">
	   
	   <!-- 1차적으로 완료 -->
	   <div class="chooseorder">
	   		<span>정렬</span>&nbsp;&nbsp;<a th:href="@{home(order='row')}"> 낮은 가격순</a>&nbsp;&nbsp;<a th:href="@{home(order='high')}">높은 가격순</a>&nbsp;&nbsp;<a th:href="@{home(order='regdate')}">신상품순</a>
	   </div>
			<br>
			<br>
			<br>
		  <div class="product-list">
		    	<div class="inner">
		        	<div class="persnal-info" th:each="productInfo:${productlist}">
		            	<div class="pd-image">
			                	<img th:src="@{/image/}+${productInfo.sumimg_path}">
			            </div>
			            <div class="pd-description">
				            <div class="pd-name"><a class="text-muted" th:href="@{pdinfo/}+${productInfo.product_code}"><span th:text=${productInfo.product_name}></span></a></div>
				            <div class="pd-price"><span  th:text=${productInfo.product_price}></span>원</div>
				            <div class="pd-category"><span th:text=${productInfo.categoryVO.category_name}></span></div>
		        		</div>
		        	</div>
		    	</div>
	    	</div>	
	    	

	    
          
       <ul class="pagination">
         <li class="page-item"  th:each="pageVal, status : ${pageObj.pageSetList}">
            <a class="page-link" th:href="@{home(page=${pageVal})}" th:text="${pageVal}"></a>
         </li>
      </ul>  
		
</div>
</body>
</html>



