<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
<meta charset="UTF-8">
<title>카테고리별 상품</title>
</head>
<body>
<div class="main" layout:fragment="content">
	
		<div class="chooseorder">
		   		<span>정렬</span>&nbsp;&nbsp;<a th:href="@{${pageObj.category_id}(order='row')}"> 낮은 가격순</a>&nbsp;&nbsp;<a th:href="@{${pageObj.category_id}(order='high')}">높은 가격순</a>&nbsp;&nbsp;<a th:href="@{${pageObj.category_id}(order='regdate')}">신상품순</a>
		 </div>
	
		<div class="product-list">
			    	<div class="inner">
			        	<div class="persnal-info" th:each="productInfo:${productlist}">
			            	<div class="pd-image">
				                	<img th:src="@{/image/}+${productInfo.sumimg_path}">
				            </div>
				            <div class="pd-name"><a th:href="@{/main/pdinfo/}+${productInfo.product_code}"><span th:text=${productInfo.product_name}></span></a></div>
				            <div class="pd-price"><span  th:text=${productInfo.product_price}></span>원</div>
				           <div class="pd-regdate"><span  th:text="${#dates.format(productInfo.product_reg_date, 'yyyy-MM-dd')}"></span></div>
				            <div class="pd-category"><span th:text=${productInfo.categoryVO.category_name}></span></div>
			        	</div>
			    </div>
		</div>	
		
		<ul class="pagination" >
			<li class="page-item" th:if="${pageObj.pageSetList}" th:each="pageVal, status : ${pageObj.pageSetList}">
				<a class="page-link" th:if="${status.count == 1 && pageVal > 5}" th:href="@{${pageObj.category_id}(page=${pageVal-1})}">이전</a>
				<a class="page-link" th:href="@{${pageObj.category_id}(page=${pageVal})}" th:text="${pageVal}"></a>
				<a class="page-link" th:if="${status.count == 5 && pageVal < pageObj.totalPage}" th:href="@{home(page=${pageVal+1})}">다음</a>
			</li>
		</ul>
</div>
</body>
</html>