<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dteam_Project.basket.model.BasketDAO">

<resultMap type="Dteam_Project.basket.model.BasketVO" id="basketMap">
	<id property="bk_num" column="bk_num"/>
	<result property="product_name" column="product_name"/>
	<result property="product_price" column="product_price"/>
	<result property="img_path" column="img_path"/>
	<result property="product_amount" column="product_amount"/>
	<result property="product_shipping_fee" column="product_shipping_fee"/>
	<result property="user_id" column="user_id"/>
	<result property="product_code" column="product_code"/>
	<result property="sumimg_path" column="sumimg_path"/>
	<result property="bk_resultnumber" column="bk_resultnumber"/>
</resultMap>


  
<insert id="insertProduct_info" parameterType="Dteam_Project.basket.model.BasketVO">  
   insert into shpping_bk(user_id,product_code,bk_resultnumber) 
      values(#{user_id},#{product_code},#{bk_resultnumber})
</insert>


<select id="getBasket" parameterType="Dteam_Project.basket.model.BasketVO" resultMap="basketMap">
	select a.bk_resultnumber, a.bk_num, a.user_id,a.product_code,b.product_code,b.product_name,b.product_price,b.product_shipping_fee,b.sumimg_path,b.img_path
	from shpping_bk a, product b where a.product_code=b.product_code
</select>

<delete id="BasketRemove" parameterType="int">
	delete from shpping_bk
	where bk_num in 
		(
		<foreach collection="array" item="bknum" separator=",">
			#{bknum}
		</foreach>
		)
</delete>

<update id="updateqnt" parameterType="Dteam_Project.basket.model.BasketVO">
	update shpping_bk set bk_resultnumber=#{bk_resultnumber} where bk_num=#{bk_num}
</update>

</mapper>
 