<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>장바구니</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>

$(function(){ //전체선택 체크박스 클릭
	setSum();
	
	$("#prodcut_allck").click(function(){ 
		//만약 전체 선택 체크박스가 체크된상태일경우 
		if($("#prodcut_allck").prop("checked")) { 
			//해당화면에 전체 checkbox들을 체크해준다 
			$("input[type=checkbox]").prop("checked",true); 
			// 전체선택 체크박스가 해제된 경우 
			} else { 
				//해당화면에 모든 checkbox들의 체크를해제시킨다. 
				$("input[type=checkbox]").prop("checked",false); } }) })


				


				
		
function count(type, statusIndex){
	// 결과를 표시할 element
	//statusIndex 추가이유 : index 번호를 알려줌  변수이름은 아무렇게나 상관 없음
	let amount111 = document.getElementById('result'+statusIndex);
	let amount222 = document.getElementById('resultTot'+statusIndex);

	//let resultNumber = document.getElementById('resultNumber');
	let resultNumbers = document.getElementsByName('resultNumber');
	//let resultNumbers = document.getElementByName('resultNumber'); 원래 s가 없었음 여러게의 데이터이므로 s 붙임 
	let resultNumber = resultNumbers[statusIndex];
	
	let org_price = document.getElementById('price'+statusIndex).value;
	
	
	
	let number = amount111.innerText;
	let number2 = amount222.innerText;

	
	number = parseInt(number);
	number2 = parseInt(number2);

	
	
	
	if(type === 'plus'){
		
		number = number +1;
		number2 = org_price * number;	
		
	}else if (type === 'minus'){
		if(number > 1)
			number = number -1;
			number2 = number2 - org_price;
		}
	
	
	
	//결과출력
	amount111.innerText = number;
	resultNumber.value = number;
	
	amount222.innerText = number2;
	resultNumber2.value = number2;

	setSum();
	
}

function setSum(){
	let arr= new Array();
	
	
	$('[id*=resultTot]').each(function(index, item){
		let totPrice = $(item).text();
 		//alert(totPrice);   
 
 		totPrice = parseInt(totPrice);
 		if(isNaN(totPrice) == false){
 			arr.push(totPrice);
 		}
 		//else alert('NaN:'+totPrice);
 		
 		console.log("가격올라간 값"+totPrice);
	});
	
	let sum = 0;
	for(let i=0; i<arr.length; i++){				
			sum += arr[i];
					
			
	}
	
	order_sum.value = sum;
	
}

</script>
</head>
<body>
<h1>장바구니</h1>
		<form action="/basket/remove" method=post>
			<div id="Vpform">
				<table width = "550" height="300" class="purchase"  bordercolor="#CCDDFF" border="2" cellspacing="0"> 
					<thead>	
						<tr>
							<td ><input id=prodcut_allck name=allDel type=checkbox></td>
							<td></td>		
							<td>상품명</td>
							<td>수량</td>		
							<td>금액</td>
							<td>배송비</td>
						</tr>
					</thead>
					<tbody>	
						<tr th:each="BasketVO, status : ${basketList}">
						<!-- <tr th:each="BasketVO : ${basketList}">  
							status = 순서를 알려주는 명령어 
						    th:each="BasketVO : ${basketList => 배열로 데이터 받음
							수정이유 : 수량 바꾸는 코드가 배열로 받은 데이터가 몇번쩨인지 알지 못해서 오류
							status 를 사용해 몇번쩨 데이터인지 알려줌				
									
						-->
							<td><input id=product_ck name="delBkNum" type=checkbox th:value="${BasketVO.bk_num}"></td>
							 <td><img th:src="@{/image/}+${BasketVO.sumimg_path}" alt="에러"></td>
							<td th:text="${BasketVO.product_name}"></td>
					
							<td >
								<div type='text' th:id='${"result"+status.index}' th:text="${BasketVO.bk_resultnumber}"></div>
								<input type="hidden" name="resultNumber"  id="resultNumber">
								<div th:id='${"resultTot"+status.index}' th:text="${BasketVO.product_price*BasketVO.bk_resultnumber}"></div>
								<input type='hidden'name="sumtest" id="sumtest" th:value="${BasketVO.product_price*BasketVO.bk_resultnumber}">
								<input type="hidden" name="resultNumber2" th:value="${BasketVO.product_price}" id="resultNumber2"/>
								<input type= "hidden"  th:id='${"price"+status.index}'  th:value="${BasketVO.product_price}">
								<!--  id='resultTot'  => th:id='${"result"+status.index}' 위에 status.index로 몇번쩨의 데이터인지 알려줌 
														
								  -->
								<button type="button" th:onclick='count("minus",[[${status.index}]])'>-</button>
								<button type="button" th:onclick='count("plus",[[${status.index}]])'>+</button>
								<!--   위에 status.index로 몇번쩨의 데이터인지 알려줌 
														
								  -->
							</td>
									
							<td th:text="${BasketVO.product_price}"></td>
							<td th:text="${BasketVO.product_shipping_fee}"></td>
						</tr>
					</tbody>
				</table>
			<input id=del  name=삭제 type=submit value="선택 삭제">
		</div>
	</form>  

	<div>
		<h4>결제 금액 예정</h4>
		<table  width = "550" height="100" class="purchase"  bordercolor="#CCDDFF" border="2" cellspacing="0">
			<tr>
				<td>총 주문 금액</td>
				<td>배 송 비</td>
				<td>총 할인 금액</td> 
				<td>총 결제예정 금액 </td>
			</tr>
			<td><input type="text" id="order_sum" readonly value=""> </td> 
			<td><input type="text" id="" readonly value=""> </td>
			<td><input type="text"  readonly value=""> </td>
			<td><input type="text"  readonly value=""> </td>	
		</table>		
					
	</div>
	<div>
		<form>
			<input id=oder name=주문하기 type=submit value="주문하기">
		</form>
	
	</div>

	
</body>
</html>