<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>쿠폰 페이지</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>이름</th>
			<th>수량</th>
			<th>할인율</th>
			<th></th>
		<tr>
		<tr th:each="cp:${couponlist}">
			<td th:text="${cp.coupon_name}"></td>
			<td th:text="${cp.coupon_amount}"></td>
			<td th:text="${cp.coupon_rate+'%'}"></td>
			<td>
			<form name="popupForm" action="/purchase/coupon" method="post">
				<input type="hidden" name="coupon_rate" th:value="${cp.coupon_rate}">
				<input type="button" th:onClick="'move_parent('+${cp.coupon_rate}+','+${cp.coupon_id}+')'" value="이 쿠폰 사용하기">
			</form>
			</td>
		</tr>
	</table>
	

<script>
		function move_parent(rate,coupon_id){
			
			let f= document.forms.popupForm;

		    document.domain = "localhost"; //document.domain 값이 팝업과 부모창 동일해야 합니다.

		    opener.name = "parentPage"; //유니크한 이름이어야 합니다.

		    f.target = opener.name;
		    
		    let pd_product_value=opener.document.getElementById('productprice').value;
		    let discount_price=Math.round(pd_product_value*(rate/100),2);
		    let couponDiscountRateInputObj =  opener.document.getElementById('couponDiscountRateInput');
		    couponDiscountRateInputObj.value =discount_price;
		    
		    
		    let origin = opener.document.getElementById("originprice");
			let discount =opener.document.getElementById("discountprice");
			let total =opener.document.getElementById("totalprice");
			
			pd_product_value=parseInt(pd_product_value);
			discount_price=parseInt(discount_price);
			
			let totalprice=pd_product_value-discount_price;
			
			origin.value=pd_product_value;
			discount.value=discount_price;
			total.value=totalprice;
			
			let couponcountlc=opener.document.getElementsByClassName('couponsoo');
			
			for (let i=0; i<couponcountlc.length; i++){
				couponcountlc[i].innerHTML="2";
			}
		    
			const target = opener.document.getElementById('useCoupon');
			
			target.disabled = true;
			
			let couponid=opener.document.getElementById('forcpid');
			couponid.value=coupon_id;
			
		    self.close();
		    
		  
		}
</script>
</body>
</html>